langchain
langchain_huggingface 
langchain-groq
langchain-openai
langchain-mcp-adapters
langchain-community
langchain-tavily
langgraph
transformers
duckduckgo-mcp-server
fastapi[standard]
pydantic
uvicorn
rich
mcp
mcp-use
mcp[cli]